<style>
    .button-full>button.button,
    button.button-block,
    button.button-full,
    input.button.button-block {
        width: 49%;
    }
    .list:last-child.card {
   margin-bottom: 0px; 
}
.card{
       margin: 0px -30px 0px 0px;
}
</style>
<div class="bar bar-header  bar-positive">
    <div class="button button-clear" ng-click="goback()">
        <img class="back-img" src="img/back.png">
    </div>
    <h1 class="title">{{greet}}</h1>
    <a class="button button-clear icon ion-ios-minus-outline" ng-click="flag.showDelete=!flag.showDelete;flag.showReorder=false;"></a>
</div>
<ion-content class="has-header has-footer">
    <ion-list show-delete="flag.showDelete">
        <ion-item ng-repeat="item in items">

            <div class="list card" ng-click="doEdit(item)">

                <div class="item item-avatar" style="padding:0;background:#00a3e3;">
                    <table style="width:100%;height:100%;color:white;">
                        <tr>
                            <td rowspan="2" style="width:35%;text-align:center;vertical-align:middle;font-size:26px;">{{item.money}}元</td>
                            <td style="width:30%;text-align:center;vertical-align:middle;font-size:12px;">{{item.subject}}</td>
                            <td rowspan="2" style="width:35%;text-align:center;vertical-align:middle;font-size:26px;">{{item.userfor}}</td>
                        </tr>
                        <tr>
                            <td style="font-size:12px;">{{item.style}}</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="font-size:16px;padding-left:10px;">{{item.datetime}}</td>
                            <td style="font-size:16px;text-align:center;">{{item.num}}</td>
                        </tr>
                    </table>
                </div>


            </div>

            <ion-option-button class="bar-assertive" ng-click="delete_item(item)">删除</ion-option-button>
            <ion-delete-button class="ion-minus-circled" ng-click="delete_item(item)"></ion-delete-button>
        </ion-item>
    </ion-list>
</ion-content>



<div class="bar bar-footer">
    <button class="button button-block button-positive" ng-click="saveFee()">
     保存费用
    </button>
    <button class="button button-block button-positive" ng-click="addFee()">
        添加费用
    </button>
</div>