<meta charset="UTF-8">

<style>
    .content {
        height: 1000px;
    }
    
    .button-full>button.button,
    button.button-block,
    button.button-full,
    input.button.button-block {
        width: 49%;
    }
</style>


<div class="bar bar-header  bar-positive">
    <div class="button button-clear" ng-click="goback()">
        <img class="back-img" src="common/img/back.png">
    </div>
    <h1 class="title">{{greet}}</h1>
</div>


<div class="content has-header">


    <div class="list">

        <label class="item dpinput">
            <div>
                <span class="input-label">主题</span>
            </div>
            <div>
                <input type="text" placeholder="请输入用途" id="feesubject" class="form-control" required="" name="feesubject" ng-pattern="/^[A-Za-z]{1}[0-9A-Za-z_]{2,29}$/"
                ng-model="vm.fee.feesubject">
            </div>
        </label>


        <div class="item dpinput">
            <div><span class="input-label">类别</span></div>
            <div>
                <select class="form-control " ng-model="vm.value " ng-options="city.label for city in vm.classes ">
                    <option value=" ">-- 请选择类别 --</option>
                </select>
            </div>
        </div>


        <!--<div>您输入的是：{{vm.value}}</div>-->

        <label class="item dpinput">
            <div>
                <span class="input-label">单据编号</span>
            </div>
            <div>
                <span class="input-label">{{vm.cardnum}}</span>
                <!--<input type="number" ng-model="vm.cardnum">-->
            </div>
        </label>


        <label class="item item-input " style="background:white url( 'img/right33.png') no-repeat 98% 8px;background-size:
                40px 20px; " ng-click="goFee() ">
            <div class="col col-25 color-k ">申请金额</div>
            <div class="col col-75 color-v " style="padding-left: 15px" ng-model="vm.summoney">{{vm.summoney}}</div>
        </label>


    </div>

</div>
</div>




</div>
<div class="bar bar-footer ">
    <button class="button button-block button-positive " ng-click="save() ">
        保存
    </button>
    <button class="button button-block button-positive " ng-click="submit() ">
        提交
    </button>
</div>