<meta charset="UTF-8">
<style>
    /* chxd */
    
    .button-full>button.button,
    button.button-block,
    button.button-full,
    input.button.button-block {
        width: 49%;
    }
    
    textarea:FOCUS {
        border: 1px solid blue;
    }
    
    .detail-part {
        padding: 0px 0px;
    }
</style>
<nav class="bar  bar-positive">
    <div class="button button-clear" ng-click="goback()">
        <img class="back-img" src="img/back.png">
    </div>
    <h4 class="title">出差申请单填报</h4>
    <a class="button button-clear icon ion-ios-gear"></a>
</nav>

<ion-content class="has-header has-footer" style="background:#ddd;">
    <div class="detail-part">
        <label class="item item-input">
            <span class="input-label">申请人</span>
            <span class="input-label">{{vm.name}}</span>
            <div style="position: relative;right: 2%;">
                <button class="button  button-calm" ng-click="goFee()">
                    申请转报销
                </button>
            </div>
        </label>

        <label class="item dpinput">
            <div>
                <span class="input-label">部门</span>
            </div>
            <div>
                <span class="input-label">{{vm.department}}</span>
            </div>
        </label>

        <label class="item dpinput">
            <div>
                <span class="input-label">地区</span>
            </div>
            <div>
                <span class="input-label">{{vm.orign}}</span>
            </div>
        </label>
        <label class="item dpinput">
            <div>
                <span class="input-label">预计费用</span>
            </div>
            <div>
                <input type="number" placeholder="请输入预计费用（必填）" id="feemoney" class="form-control" required="" maxlength="8" name="feemoney" ng-pattern="/^([1-9][0-9]*(\.[0-9]{0,2})?|0\.[1-9][0-9]{0,1}|0\.0[1-9])$/"
                ng-model="vm.feemoney">
            </div>
        </label>
    </div>

    <div class="detail-part">
        <label class="item dpinput">
            <div>
                <span class="input-label">项目名称</span>
            </div>
            <div>
                <span class="input-label">{{vm.proname}}</span>
            </div>
        </label>

        <label class="item dpinput">
            <div>
                <span class="input-label">项目编号</span>
            </div>
            <div>
                <span class="input-label">{{vm.proid}}</span>
            </div>
        </label>
        <label class="item dpinput">
            <div>
                <span class="input-label">所属部门</span>
            </div>
            <div>
                 <span class="input-label">{{vm.proddepart}}</span>
            </div>
        </label>
        <label class="item dpinput">
            <div>
                <span class="input-label">项目经理</span>
            </div>
            <div>
                <span class="input-label">{{vm.manager}}</span>
            </div>
        </label>
    </div>

    <div class="detail-part">
        <label class="item item-input">
            <div class="list" style="width: 80%;margin: 0;">
                <label class="item item-input" style="border: none;padding-left: 0px;">
                    <span>{{vm.guessstarttime}}</span>
                </label>
                <label class="item item-input" style="border: none;padding-left: 0px;border-top: 1px solid #ddd;">
                    <span>{{vm.guessendtime}}</span>
                </label>
            </div>

        </label>
        <lable>
            <button class="button  button-calm" ng-click="goPath()" style="position: relative;float: right;margin-top: -73px;
	                        margin-right: 8px;z-index: 2;">
                行程明细
            </button>
        </lable>

        <label class="item dpinput">
            <div>
                <span class="input-label">出差天数</span>
            </div>
            <div>
                <input type="text" id="manager" class="form-control" name="manager" ng-model="vm.daycount">
            </div>
        </label>
        <label class="item dpinput">
            <div>
                <span class="input-label">同行人员</span>
            </div>
            <div>
                <input type="text" id="manager" class="form-control" name="manager" ng-model="vm.otherpeople">
            </div>
        </label>
    </div>

    <div class="detail-part">
        <label class="item dpinput">
            <div>
                <span class="input-label">事由</span>
            </div>
            <div>
                <input type="text" id="topic" class="form-control" name="topic" ng-model="vm.topic" required="" placeholder="请输入事由（必填）">
            </div>
        </label>
        <label class="item dpinput">
            <div>
                <span class="input-label">预计成果</span>
            </div>
            <div>
                <input type="text" id="target" class="form-control" name="target" ng-model="vm.target">
            </div>
        </label>
        <label class="item dpinput">
            <div>
                <span class="input-label">出差计划</span>
            </div>
            <div>
                <input type="text" id="plan" class="form-control" name="plan" ng-model="vm.plan">
            </div>
        </label>
    </div>

    <div class="detail-part">
        <label class="item item-input">
            <span class="input-label">申请单编号</span>
            <div class="col col-75 color-v">{{cost.ProjectManager}}</div>
        </label>
        <label class="item item-input">
            <span class="input-label">创建时间</span>
            <div class="col col-75 color-v">{{cost.ProjectManager}}</div>
        </label>
        <label class="item item-input">
            <span class="input-label">模版名称</span>
            <div class="col col-75 color-v">{{cost.ProjectManager}}</div>
        </label>
        <label class="item item-input">
            <span class="input-label">文档状态</span>
            <div class="col col-75 color-v">{{cost.ProjectManager}}</div>
        </label>

    </div>

</ion-content>

<div class="bar bar-footer">
    <button class="button button-block button-positive" ng-click="save()">
        保存
    </button>
    <button class="button button-block button-positive" ng-click="submit()">
        提交
    </button>
</div>