<meta charset="UTF-8">
<style>
    .content {
        height: 1000px;
    }
    
    .li-horizo ul li {
        display: inline;
    }
    
    .li-horizo div {
        float: right;
        width: 70%;
    }
    /*原边框隐藏*/
    
    .item-checkbox {
        border: none;
        padding-left: 45px;
    }
    /*原选中勾 隐藏*/
    
    .item-radio input:checked~.radio-icon {
        visibility: visible;
        display: none;
    }
    /*x被选取时样式*/
    
    .item-radio input:checked~.item-content {
        color: #387ef5;
        background: white;
    }
    /*每一个选项的宽度*/
    
    .item-radio {
        padding: 0;
        width: 33%;
        border: none;
    }
    
    .item-content.disable-pointer-events {
        padding-left: 30px;
        padding-top: 5px;
        height: 30px;
    }
    
    .item-radio input {
        left: 0px;
        z-index: 3;
    }
    
    .datepicker {
        position: absolute;
        left: 35%;
        width: 50%;
        height: 40px;
        top: 7px;
        border-radius: 5px;
        border: #aaaaaa 1px solid;
        font-weight: bold;
    }
    
    input[readonly]:not(.cloned-text-input) {
        margin-left: 10px;
        min-width: 190px;
    }
    
   input#starttime,input#endtime{
        padding-bottom: 0px;
        width: 60%;
        margin-left: -5px;
        background-color: white;
    }
    .item-content.disable-pointer-events span{
        margin-left: 27px;
    }
</style>


<div class="bar bar-header  bar-positive">
    <div class="button button-clear" ng-click="goback()">
        <img class="back-img" src="img/back.png">
    </div>
    <h1 class="title">{{greet}}</h1>
</div>


<form class="content has-header showcase-form" id="basic_form" name="basic_form" novalidate="">
    <div class="list">
        <label class="item dpinput">
            <div><span class="input-label">出发时间</span></div>
            <div>
            <input type="text" name="starttime" id="starttime" required="" class="datepicker" placeholder="请选择" ng-model="vm.starttime"/>
            </div>
        </label>
        
        <label class="item dpinput">
            <div><span class="input-label">到达时间</span></div>
            <div>
            <input type="text" name="endtime" id="endtime" required="" class="datepicker" placeholder="请选择" ng-model="vm.endtime"/>
            </div>
        </label>
        
        
       <label class="item dpinput">
            <div>
                <span class="input-label">起点</span>
            </div>
            <div>
              <input type="text" placeholder="请输入起点" id="startpath" class="form-control" required="" name="startpath"
            ng-model="vm.path.startpath">
            </div>
        </label>

        
        <label class="item dpinput">
            <div>
                <span class="input-label">终点</span>
            </div>
            <div>
            <input type="text" placeholder="请输入终点" id="endpath" class="form-control" required="" name="endpath"
            ng-model="vm.path.endpath">
            </div>
        </label>
        
        <div class="item dpinput">
            <div><span class="input-label">交通方式</span></div>
            <div>
                <select class="form-control " ng-model="vm.tranway " ng-options="city.label for city in vm.TranList ">
                    <option value=" ">-- 请选择交通方式 --</option>
                </select>
            </div>
        </div>

        <div class="li-horizo item" id="stayway">
            <span style="winth:20%">住宿方式</span>
            <div>
                <ion-radio ng-repeat="item in vm.StayList" ng-value="item.value" ng-model="vm.stayway.value" class="checkbox">
                    {{ item.text }}
                </ion-radio>
            </div>
        </div>
        

        <div class="item item-divider">
            Clientside, Selected Value: {{ vm.stayway.value }}
        </div>


    </div>
    <div class="form-group" ng-show="basic_form.$invalid && (basic_form.$dirty || vm.show_type == 3) && vm.show_error">
        <label class="col-sm-2 control-label"></label>

        <div class="col-sm-10">
            <div class="alert alert-danger" style="margin-bottom: 0px">
                <ul>
                    <li ng-show="(basic_form.starttime.$dirty || vm.show_type == 3) && basic_form.starttime.$error.required">请选择开始时间！</li>
                    <li ng-show="(basic_form.endtime.$dirty || vm.show_type == 3) && basic_form.endtime.$error.required">请选择结束时间！</li>
                    <li ng-show="(!vm.dateFlag)">起始时间应早于结束时间！</li>
                    
                    <li ng-show="(basic_form.startpath.$dirty || vm.show_type == 3) && basic_form.startpath.$error.required">起点不能为空！</li>
                    <li ng-show="(basic_form.endpath.$dirty || vm.show_type == 3) && basic_form.endpath.$error.required">终点不能为空！</li>
                    <li ng-show="(basic_form.tranway.$dirty || vm.show_type == 3) && basic_form.tranway.$error.required">交通方式不能为空！</li>

                </ul>
            </div>
        </div>
    </div>
</form>



<div class="bar bar-footer">
    <button class="button button-block button-positive" ng-click="vm.save(basic_form)">
        保存
    </button>
</div>